<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tung.musicplayer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <activity
            android:name="com.tung.screen.WelcomeScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tung.screen.Home"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.tung.screen.SongList"
            android:label="@string/title_activity_song_list" >
        </activity>
        <activity
            android:name="com.tung.musicplayer.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.tung.screen.ArtistDetail"
            android:label="@string/title_activity_artist_detail" >
        </activity>
        <activity
            android:name="com.tung.screen.AlbumDetail"
            android:label="@string/title_activity_album_detail" >
        </activity>
        <activity
            android:name="com.tung.screen.PlaySong"
            android:label="@string/title_activity_play_song" >
        </activity>
        <activity
            android:name="com.tung.screen.PlayListDetail"
            android:label="@layout/playlist_detail" >
        </activity>
        <activity 
            android:name="com.tung.screen.MusicChart" 
            android:label="@layout/chart_layout" 
            android:permission="android.permission.INTERNET">
            
        </activity>
                <activity
            android:name="com.tung.screen.PlaySongS"
            android:label="@string/title_activity_play_song" >
        </activity>
        
    </application>

</manifest>